{
  "extends": "stylelint-config-standard",

  "rules": {
    "function-url-quotes": "single",
    "no-invalid-double-slash-comments": true,
    "selector-pseudo-element-colon-notation": "single",
    "string-quotes": "single"
  }
}
